/* 
CAREFULL WHEN MARGIN TAKE TIME TO  KNOW HOW TO DISPLAY CORRECTLY
margin right
spacer : put to right end and 85% width*/

#spacer {
  background: rgba(146, 141, 141, 0.137);
  height: 2px;
  width: 75%;
}

#connectToTwitter {
  display: inline-block;
  border-style: solid;
  border-radius: 50px;
  border-color: rgb(58, 55, 55);
  border-width: 1px;
}
