
#main-container {
    width: 94%;
}

nav {
    min-width: 330px;
}

.navbar-avatar {
    width:40px;
    border-radius: 20px;
}

.border-upgrade {
    border: 1px black solid;
    border-radius: 1rem ;
    font-family: 'Martel Sans', sans-serif;
    
}

.button-search {
    border:none;
    background-color: white;
}

.nav-right {
     opacity: 0.8;
}

.input-div {
    transform: translateX(15%);
    transition: transform 0.1s;
   
}

.slideleft {
  transform: translateX(0);
  transition: transform 0.1s;  
}

.input-div input {
    border: none;
 }

 .input-div input:focus {
    outline: none;
 }

.hidden-input {
    transition: visibility 0s;
    display: none;    
}

.text-nav-img {       
        display: none;       
    }

.show-mobile-search {
        display: none;
    }

    /* THE MAIN PART */

.author-avatar {
    width: 20px;
    border-radius: 10px;
}

.author-text {
    font-size: 0.8rem;
    font-weight: bolder;
}

.mcard h2 {
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mcard p {
    color: rgb(122,119,117);
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.author a {
    color: black;
    text-decoration: none;
}

.mcard-img img {
    width: 200px;
    height: 134px;
    overflow: hidden;
}

.mcard-tags {
    font-size: 0.8rem;
    color:rgb(122,119,117) ;
}

.bi.bi-star-fill {
    font-size: 0.5rem;
}

.mtag {
    border: 1px rgb(235,235,236) solid;
    background-color: rgb(235,235,236);
    border-radius: 1rem;
    padding: 0.1rem 0.3rem;
}

.mcard-tags-right {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
}

.mcard-tags-left {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards-header {
    color: rgb(122,119,117);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards-header span {
    padding-bottom: 10px;
}

.cards-header span:hover {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid rgb(122,119,117);
}

.line{
    border-bottom: 1px solid rgb(122,119,117); 
    opacity: 0.3;   
    margin-top: 10px;
}


/* ALBERTO CSS START */
/* 
text center
twitter button could be better

commentText should be bolder

*/


.sticky-container {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
}

@media (max-width: 904px) {
  #hiddenOn904px {
    display: none;
  }
}

#spacer {
  background: rgba(146, 141, 141, 0.137);
  height: 2px;
  width: 90%;
}

#connectToTwitter {
  border-style: solid;
  border-radius: 50px;
  border-color: rgb(104, 96, 96);
  border-width: 1px;
  width: 70%;
}

#connectToTwitter:hover {
  border-color: black;
  cursor: pointer;
}
#connectToTwitter span {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.followDescription {
  font-size: 75%;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.bgCustomWhite {
  background: white !important;
}

.profileClickToFollow:hover {
  cursor: pointer;
}

.imgProfileToFollow {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.commentAvatar {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 30% !important;
}


.commentAvatarType2 {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50% !important;
}

#commentExpander {
  font-weight: 500;
}


/* ALBERTO CSS END */


@media only screen and (max-width: 727px) {
   

    /* NAVIGATION */
    .border-upgrade {
        border: 1px black solid;
        border-radius: 1rem ;
        font-family: 'Martel Sans', sans-serif;
        display: none;
    }

    .fa-bookmark {
        display: none;
    }

    .nav-img-wrapper{
         white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .text-nav-img {
        display:inline;
        color: rgb(26, 137, 23);
        font-size: 0.8rem;
        font-weight: bolder;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* CARDS */

    /* PEREX disappears
        Heading FONT gets bigger
        Pictures get bigger 200x134  vs. 150x100
    */

    .mcard p {
      display: none;
    }

    .mcard h2 {
        font-size: 1.1rem;
    }

    .mcard-img img {
        width: 150px;
        height: 100px;
    }
    


}

@media only screen and (max-width: 904px) {
    .hide-at-904px {
    display: none;
    }
    .input-div {
    transform: translateX(0%);
    transition: transform 0s;
    }

    .slideleft {
    transform: translateX(0);
    transition: transform 0s;  
    }

    .search-input-mobile {
        border: none;
        border-bottom: 1px gray solid;
        width: 100%;
        height: 45px;
        font-size: 2rem;        
    }

    .search-input-mobile:focus {
        outline: none;
    }

    .hide-mobile-search {
        display: none;
    }

    .show-mobile-search {
        display: block;
    }

    .hide-main-container {
        display: none;
    }

    /* Right panel appears  - set with bootstrap classes */

}


@media only screen and (max-width: 552px) {
    /* Selected for you disappears
        Tag (blockchain , NFT disappears 
        pictures get smaller 100 x 100
    */

    .mcard-img img {      
        height: 100px;
        width: 100px;
        object-fit: cover;
        overflow: hidden;
       
    }

    .d552 {
        display: none;
    }
}